[submodule "depends/baselines"]
	path = depends/baselines
	url = https://github.com/openai/baselines
[submodule "res/lth-block-world"]
	path = res/lth-block-world
	url = https://github.com/lunduniversity/lth-block-world
